/* general */

@font-face {
    font-family: vazir;
    src: url(/fonts/Vazirmatn-VariableFont_wght.ttf);
}
:root{
    --red:red;
    --yellow:yellow;
    --white:white;
    --black:rgb(0, 0, 0);
    --gray:rgb(88, 100, 88);
}
.icon{
    border-radius: 50%;
    border:var(--black) solid 3px;
    padding: 4px;
}
body{
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* --------- navbar------------ */

.navbar{
    display: flex;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-weight: bold;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.nav-img img{
    width: 70px;
    height: 65px;
    padding-right: 1rem;
}
.nav-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    border-bottom: solid var(--white);
}
.nav-item{
    color: var(--black);
    padding: 0.5rem;
    text-decoration: none;
    margin: 1rem;
}
.nav-item:hover{
    border-bottom: solid 3px var(--red);
}
.menu-toggle {
    display: none;
}
@media only screen and (max-width: 1000px) {

    .navbar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }


    .nav-img {
        margin: 0;
    }

    .menu-toggle {
        position: absolute;
        right: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 32px;
        height: 24px;

        padding: 0;
        margin: 0;

        border: none;
        background: none;

        cursor: pointer;
    }


    .nav-items {
        display: none;
    }

    .menu-toggle span {
        width: 32px;
        height: 5px;
        background-color: var(--red);
        border-radius: 5px;
        transition: 0.3s;
    }
        .nav-items.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--white);
        padding: 1rem 0;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
        z-index: 999;
    }

    .nav-items.active .nav-item {
        width: auto;
        margin: 0;
        padding: 1rem 2rem;
        border-bottom: 1px solid #eeeeee;
    }

    .nav-items.active .nav-item:hover {
        border-bottom: 3px solid var(--red);
    }
        .menu-toggle.active span:nth-child(1) {
        transform: translateY(10.5px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: translateY(-10.5px) rotate(-45deg);
    }

}
@media only screen and (max-width:600px){
    .nav-img{
        font-size: 1rem;
    }
    .nav-img img{
    width: 50px;
    height: 50px;
    margin: 0;
}
    .menu-toggle {

        width: 32px;
        height: 14px;
    }
    .menu-toggle span {
        width: 20px;
        height: 4px;
        background-color: var(--red);
        border-radius: 5px;
        transition: 0.3s;
    }
    .navbar{
    font-size: 0.6rem;
    font-weight: 500;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
    .nav-item img{
        width: 15px;
        height: 15px;
    }
    .icon{
        padding: 2px;

    }
}

/* --------------------- HEADER ------------------- */

.products-header {
    width: 100%;
    height: 320px;
    display: flex;
    align-items:center;
    position: relative;
    overflow: hidden;
    background-color: #151515;
}



.products-header-img {
    width: 85%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.products-header-img img {
    width: 100%;
    height: 100%;
    object-position: center;
}


.products-header-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background: linear-gradient(
        to left,
        #151515,
        transparent
    );
}


.products-header-text {
    width: 15%;
    position: absolute;
    right: 5%;
    z-index: 2;
    color: var(--white);
    text-align: center;
}

.products-header-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.products-header-text p {
    font-size: 1.2rem;
    line-height: 2;
    color: var(--red);
}

@media (max-width: 1000px) {

    .products-header {
        height: 270px;
    }

    .products-header-img {
        width: 65%;
    }

    .products-header-img::after {
        width: 65%;
    }

    .products-header-text {
        width: 50%;
        right: 3%;
    }

    .products-header-text h1 {
        font-size: 2.3rem;
    }

    .products-header-text p {
        font-size: 1rem;
        line-height: 1.8;
    }
}


@media (max-width: 600px) {

    .products-header {
        height: 200px;
        border-radius: 20px;
        box-shadow: rgba(240, 46, 46, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 46, 0.2) 0px 15px, rgba(240, 46, 46, 0.1) 0px 20px, rgba(237, 46, 46, 0.05) 0px 25px;
    }

    .products-header-img {
        width: 100%;
    }

    .products-header-img::after {
        width: 100%;
        background:fixed;
    }

    .products-header-text {
        display: none;
    }

    .products-header-text h1 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    .products-header-text p {
        font-size: 0.9rem;
        line-height: 1.8;
    }
}

/* ---------------------- main -------------------- */

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.product-card {
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-info {
    padding: 1.2rem;
    text-align: center;
}

.product-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.2rem;
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3;
}
.product-link:hover{
    transform: scale(120%);
}

@media only screen and (max-width: 1000px) {

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media only screen and  (max-width: 600px) {

    .products-container {
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .products-section{
        text-align: center;
    }

    .product-card img {
        height: 220px;
    }

}
/* footer */

footer {
    background-color: #151515;
    color: var(--white);
    margin-top: 4rem;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-container {
    max-width: 100%;
    margin: auto;
    padding: 3rem ;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--red);
}

.footer-contact p {
    margin-bottom: 0.7rem;
}

.footer-bottom {
    border-top: 1px solid var(--red);
    text-align: center;
    padding: 1rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}
.Contact-Information{
    display: flex;
    flex-direction: column;
}
.Contact-Information-a{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.Contact-Information-a img{
    width: 60px;
    height: 60px;
}


@media (max-width: 1100px) {

    .footer-container {
        padding: 2.5rem 2rem;
        gap: 2rem;
    }

    .footer-contact {
        max-width: 350px;
    }

    .footer-contact p {
        font-size: 0.9rem;
        line-height: 1.7;
    }

    .Contact-Information-a {
        gap: 0.3rem;
    }

    .Contact-Information-a img {
        width: 45px;
        height: 45px;
    }

}


@media (max-width: 600px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.5rem 1.5rem;
        gap: 2.5rem;
    }

    .footer-about {
        max-width: 100%;
    }

    .footer-links {
        align-items: center;
    }

    .footer-contact {
        max-width: 100%;
    }

    .footer-contact p {
        line-height: 1.8;
    }

    .Contact-Information {
        align-items: center;
    }

    .Contact-Information-a {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .Contact-Information-a img {
        width: 40px;
        height: 40px;
    }

    .footer-bottom {
        padding: 0.8rem;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }

}