/* general */

@font-face {
    font-family: vazir;
    src: url(/fonts/Vazirmatn-VariableFont_wght.ttf);
}
:root{
    --red:red;
    --yellow:yellow;
    --white:white;
    --black:rgb(0, 0, 0);
    --gray:rgb(88, 100, 88);
}
.icon{
    border-radius: 50%;
    border:var(--black) solid 3px;
    padding: 4px;
}
body{
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* navbar */

.navbar{
    display: flex;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-weight: bold;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.nav-img img{
    width: 70px;
    height: 65px;
    padding-right: 1rem;
}
.nav-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    border-bottom: solid var(--white);
}
.nav-item{
    color: var(--black);
    padding: 0.5rem;
    text-decoration: none;
    margin: 1rem;
}
.nav-item:hover{
    border-bottom: solid 3px var(--red);
}
.menu-toggle {
    display: none;
}
@media only screen and (max-width: 1000px) {

    .navbar {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
    }


    .nav-img {
        margin: 0;
    }

    .menu-toggle {
        position: absolute;
        right: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 32px;
        height: 24px;

        padding: 0;
        margin: 0;

        border: none;
        background: none;

        cursor: pointer;
    }


    .nav-items {
        display: none;
    }

    .menu-toggle span {
        width: 32px;
        height: 5px;
        background-color: var(--red);
        border-radius: 5px;
        transition: 0.3s;
    }
        .nav-items.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: var(--white);
        padding: 1rem 0;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
        z-index: 999;
    }

    .nav-items.active .nav-item {
        width: auto;
        margin: 0;
        padding: 1rem 2rem;
        border-bottom: 1px solid #eeeeee;
    }

    .nav-items.active .nav-item:hover {
        border-bottom: 3px solid var(--red);
    }
        .menu-toggle.active span:nth-child(1) {
        transform: translateY(10.5px) rotate(45deg);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: translateY(-10.5px) rotate(-45deg);
    }

}
@media only screen and (max-width:600px){
    .nav-img{
        font-size: 1rem;
    }
    .nav-img img{
    width: 50px;
    height: 50px;
    margin: 0;
}
    .menu-toggle {

        width: 32px;
        height: 14px;
    }
    .menu-toggle span {
        width: 20px;
        height: 4px;
        background-color: var(--red);
        border-radius: 5px;
        transition: 0.3s;
    }
    .navbar{
    font-size: 0.6rem;
    font-weight: 500;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
    .nav-item img{
        width: 15px;
        height: 15px;
    }
    .icon{
        padding: 2px;

    }
}

/* header */

header{
    width: 100%;
    min-height: auto;
}
.logo{
    display: flex;
    flex-direction: row;
    font-family: vazir, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    justify-content: space-around;
    padding-top: 1rem;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text h1{
    padding: 10px;
    font-size: 3rem;
    border-bottom: red 4px solid;
}
.text h2{
    font-size: 1.5rem;
    padding-top: 0;
}
.engine{
    filter: drop-shadow(30px 10px 4px #16033c);
    width: 550px;
}
.features {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    background-color: var(--white);
    border: 1px solid #dddada;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.feature {
    min-height: 100px;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-left: 1px solid #eeeeee;
}


.feature-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eeeeee;
    border-radius: 50%;
}


.feature-text h3 {
    margin: 0 0 8px;
    font-size: 20px;
    color: var(--black);
}


.feature-text p {
    margin: 0;
    font-size: 15px;
    color: #666;
}
@media only screen and (max-width:1000px){
    .engine{
        width: 40%;
        filter: drop-shadow(20px 10px 4px #16033c);
    }
    .text{
        width: 50%;
    }
    .text h1{
        font-size: 2rem;
    }
    .text h2{
        font-size: 1rem;
    }
    .features{
        grid-template-columns: 50% 50%;
        width: 70%;
    }
    .feature{
        padding: 0;
        gap: 0;
    }
    .feature-icon{
        width: 40px;
        height: 40px;
    }
    .feature-text h3{
        font-size: 1rem;
    }
    .feature-text p{
        font-size: 12px;
    }
}
@media only screen and (max-width:600px){
        .engine{
        filter: drop-shadow(10px 8px 4px #16033c);
    }
    .text{
        width: 50%;
    }
    .text h1{
        font-size: 1.5rem;
    }
    .text h2{
        font-size: 1rem;
    }
    .features{
        grid-template-columns: 50% 50%;
        width: 90%;
       
    }
    .feature{
        padding: 0;
        gap: 0;
        min-height: 80px;
    }
    .feature-icon{
        width: 30px;
        height: 30px;
    }
    .feature-text h3{
        font-size: 0.8rem;
    }
    .feature-text p{
        font-size: 0.6;
    }
}



/* main */

/* best-selling */

.best-selling{
    display: flex;
    flex-direction: column;
    border: var(--red) 1px solid;
    border-radius: 15px;
    padding: 0;
    width: 90%;
    margin: auto;
    min-height: 500px;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
.best-selling h1{
    color: var(--red);
    padding: 0.5rem;
}
.best-selling-products{
    display: grid;
    grid-template-columns:auto auto auto auto ;
    background-color:var(--red);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    overflow-x: auto;
}

.best-selling-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.best-selling-product-img{
    width: 270px;
    height: 380px;
    border-radius: 15px;
}
.best-selling-product-text{
    color: var(--black);
    border: var(--white) 1px solid;
    border-radius: 15px;
    width: 270px;
    text-align: center;
    min-height: 110px;
    margin-top: -50px;
    background-color: var(--white);
}
@media only screen and (max-width:1000px){
    .best-selling{
        min-height: 400px;
    }
    .best-selling h1{
        font-size: 1.7rem;
    }
    .best-selling-product-img{
    width: 230px;
    height: 250px;
}
.best-selling-product-text{
    width: 230px;
    min-height: 100px;
    margin-top: -40px;
}
}
@media only screen and (max-width:1000px){
        .best-selling{
        min-height: 400px;
    }
    .best-selling h1{
        font-size: 1.2rem;
    }
    .best-selling-product-img{
    width: 200px;
    height: 230px;
}
.best-selling-product-text{
    width: 200px;
    min-height: 90px;
    margin-top: -30px;
}
.best-selling-product-text h2{
    font-size: 1rem;
}
.best-selling-product-text p{
    font-size: 0.9rem;
}
}

/* about-us */

.about-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--red);
    padding: 1rem;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    color: var(--white);
    text-align: center;
    gap: 2rem;
}
.about-us-text {
    flex: 1;
} 
.about-us-text h2 {
    margin-bottom: 1rem;
}

.about-us-text p {
    line-height: 2;
}
.about-us-img img {
    width: 100%;
    max-width: 600px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}  
.about-us-img{
    width: 50%;
} 
@media (max-width: 1000px) {

    .about-us {
        width: 90%;
        gap: 1rem;
    }

    .about-us-text {
        width: 50%;
    }

    .about-us-text h2 {
        font-size: 1.5rem;
    }

    .about-us-text p {
        font-size: 0.9rem;
        line-height: 1.8;
    }

    .about-us-img {
        width: 45%;
    }

    .about-us-img img {
        height: 220px;
    }

}

@media (max-width: 600px) {

    .about-us {
        flex-direction: column;

        width: 90%;

        padding: 1.2rem;

        gap: 1.5rem;
    }

    .about-us-text {
        width: 100%;
    }

    .about-us-text h2 {
        font-size: 1.3rem;
    }

    .about-us-text p {
        font-size: 0.85rem;
        line-height: 2;
    }

    .about-us-img {
        width: 100%;
    }

    .about-us-img img {
        width: 100%;
        height: auto;
    }

}

/* footer */

footer {
    background-color: #151515;
    color: var(--white);
    margin-top: 4rem;
    font-family: vazir , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-container {
    max-width: 100%;
    margin: auto;
    padding: 3rem ;
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    text-align: center;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--red);
}

.footer-contact p {
    margin-bottom: 0.7rem;
}

.footer-bottom {
    border-top: 1px solid var(--red);
    text-align: center;
    padding: 1rem;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
}
.Contact-Information{
    display: flex;
    flex-direction: column;
}
.Contact-Information-a{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.Contact-Information-a img{
    width: 60px;
    height: 60px;
}


@media (max-width: 1100px) {

    .footer-container {
        padding: 2.5rem 2rem;
        gap: 2rem;
    }

    .footer-contact {
        max-width: 350px;
    }

    .footer-contact p {
        font-size: 0.9rem;
        line-height: 1.7;
    }

    .Contact-Information-a {
        gap: 0.3rem;
    }

    .Contact-Information-a img {
        width: 45px;
        height: 45px;
    }

}


@media (max-width: 600px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2.5rem 1.5rem;
        gap: 2.5rem;
    }

    .footer-about {
        max-width: 100%;
    }

    .footer-links {
        align-items: center;
    }

    .footer-contact {
        max-width: 100%;
    }

    .footer-contact p {
        line-height: 1.8;
    }

    .Contact-Information {
        align-items: center;
    }

    .Contact-Information-a {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .Contact-Information-a img {
        width: 40px;
        height: 40px;
    }

    .footer-bottom {
        padding: 0.8rem;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }

}